<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Years with multiple winners
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Year</th>
                <th>Win count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let year of yearsWithMultipleWinners">
                <td>{{ year.year }}</td>
                <td>{{ year.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Top 3 studios with most wins
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Win count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let studio of topStudios">
                <td>{{ studio.studio }}</td>
                <td>{{ studio.wins }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Producers with largest and smallest intervals between wins
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-4">
              <h6>Maximum</h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Producer</th>
                    <th>Interval</th>
                    <th>Previous year</th>
                    <th>Following year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ producerIntervals.largest.producer }}</td>
                    <td>{{ producerIntervals.largest.interval }}</td>
                    <td>{{ producerIntervals.largest.previousYear }}</td>
                    <td>{{ producerIntervals.largest.nextYear }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h6>Minimum</h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Producer</th>
                    <th>Interval</th>
                    <th>Previous year</th>
                    <th>Following year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ producerIntervals.smallest.producer }}</td>
                    <td>{{ producerIntervals.smallest.interval }}</td>
                    <td>{{ producerIntervals.smallest.previousYear }}</td>
                    <td>{{ producerIntervals.smallest.nextYear }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">Winners by year</div>
        <div class="card-body">
          <form (submit)="searchWinners()">
            <div class="mb-3">
              <label for="yearInput" class="form-label">Year</label>
              <input
                type="number"
                class="form-control"
                id="yearInput"
                [value]="searchYear"
                placeholder="Enter the year"
              />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th>Movie</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let winner of winnersByYear">
                <td>{{ winner.movie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
