<div class="container mt-4">
  <div class="row">

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-success text-white">
          Top 3 Studios with Most Wins
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Studio</th>
                <th>Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let studio of apiData.studios">
                <td>{{ studio.name }}</td>
                <td>{{ studio.winCount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-warning text-white">
          Producers with Largest and Smallest Intervals
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-4">
              <h6>Largest Interval</h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Producer</th>
                    <th>Interval</th>
                    <th>Previous Year</th>
                    <th>Next Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ apiData.intervalProducers.max[0].producer }}</td>
                    <td>{{ apiData.intervalProducers.max[0].interval }}</td>
                    <td>{{ apiData.intervalProducers.max[0].previousWin }}</td>
                    <td>{{ apiData.intervalProducers.max[0].followingWin }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h6>Smallest Interval</h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Producer</th>
                    <th>Interval</th>
                    <th>Previous Year</th>
                    <th>Next Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ apiData.intervalProducers.min[0].producer }}</td>
                    <td>{{ apiData.intervalProducers.min[0].interval }}</td>
                    <td>{{ apiData.intervalProducers.min[0].previousWin }}</td>
                    <td>{{ apiData.intervalProducers.min[0].followingWin }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-info text-white">Winners by Year</div>
        <div class="card-body">
          <form (submit)="searchWinners()">
            <div class="mb-3">
              <label for="yearInput" class="form-label">Year</label>
              <input
                type="number"
                class="form-control"
                id="yearInput"
                [(ngModel)]="searchYear"
                placeholder="Enter the year"
              />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th>Movie</th>
                <th>Studio</th>
                <th>Producer</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let winner of apiData.winnersByYear">
                <td>{{ winner.title }}</td>
                <td>{{ winner.studios.join(', ') }}</td>
                <td>{{ winner.producers.join(', ') }}</td>
                <td>{{ winner.winner ? 'Yes' : 'No' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>